$background-color: #eeeae2;
$text-color: #120c07;
$shade-100: #c7a991;
$shade-300: #6f482a;
$shade-500: #4a301c;
$secondary-color: #8cb0d9;
$links-color: #0c3ea1;
$grey-color: #c2bfbc;
$grey-text: #5e5955;
$footer-color: #141414;
$footer-text: #e5e3e3fd;
